// COLORS
$color-white: #fff;
$color-black: #000000;
$color-bg: #1c1b22;

// FONTS
$primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$base-font-size: 10px;

// OFFSET
$mobile-container-padding-x: 16px;
